{% extends "frame/layui_frame.html" %}
{% block header %}
    {{ super() }}
    <title>挂号和收费管理</title>
{% endblock %}
{% block body %}
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">挂号和收费管理</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        {{ username }}
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a id="register" href="{{ url_for('user.user_register',username=username) }}">挂号</a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="#">收费</a>
                        <dl class="layui-nav-child">
                            <dd><a href="{{ url_for('user.user_register_purchase',username=username) }}">挂号收费</a></dd>
                            <dd><a href="{{ url_for('user.user_treatment_purchase',username=username) }}">诊疗收费</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="#">管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="{{ url_for('user.department',username=username) }}">科室</a></dd>
                            <dd><a href="{{ url_for('user.doctor',username=username) }}">医生</a></dd>
                            <dd><a href="{{ url_for('user.drugs',username=username) }}">药品</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                {% block main %}
                    挂号和收费系统主页面
                {% endblock %}
            </div>
        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            ©diklios-组员：周在雍、袁子奇、吴哲凯、许可、房姝草、岳姜舟、王兆恒
        </div>
    </div>
    <script>
        layui.use('element', function () {
            let element = layui.element;
        });
    </script>
    {% block script %}
    {% endblock %}
{% endblock %}