{% extends "user/user_index.html" %}
{% block main %}
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">医生名称</label>
            <div class="layui-input-block">
                <input type="text" name="doctor_name" placeholder="请输入医生名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择科室</label>
            <div class="layui-input-block">
                <select name="department" lay-verify="required" autocomplete="off">
                    <option value="0" selected>请选择科室</option>
                    <optgroup label="门诊部">
                        <option value="">内科</option>
                        <option value="">外科</option>
                        <option>……</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职位</label>
            <div class="layui-input-block">
                <input type="text" name="doctor_position" placeholder="请输入医生职位" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="nan" title="男" checked>
                <input type="radio" name="sex" value="nv" title="女">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">医生具体信息</label>
            <div class="layui-input-block">
                <textarea name="department_detail" placeholder="请输入医生具体信息" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit>确认添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block script %}
    <script>
        layui.use('form', function () {
            let form = layui.form;
        });
    </script>
{% endblock %}