{% extends "user/user_index.html" %}
{% block main %}
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">医生名称</label>
                <div class="layui-input-inline" style="width: 500px;">
                    <input type="text" name="price_min" placeholder="请输入医生名称进行查询" autocomplete="off"
                           class="layui-input">
                </div>
                <button class="layui-btn">确认</button>
                <button class="layui-btn layui-btn-normal" type="button" onclick="doctor_add()">添加</button>
            </div>
        </div>
    </form>
    <table id="table_doctor" lay-filter="table_doctor"></table>
{% endblock %}
{% block script %}
    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">详细信息</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script>
        layui.use('form', function () {
            let form = layui.form;
        });
        layui.use('table', function () {
            let table = layui.table;
            table.render({
                elem: '#table_doctor'
                , page: true //开启分页
                , cols: [[ //表头
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'id', title: '医生id', sort: true, fixed: true},
                    {field: 'name', title: '医生名称'},
                    {field: 'position', title: '职位'},
                    {field: 'gender', title: '性别'},
                    {fixed: 'right', width: 300, align: 'center', toolbar: '#bar'}
                ]]
                , data: [{
                    id: '1',
                    name: '周在雍',
                    position: '主任',
                    gender: '女',
                }]
            });
            table.on('tool(table_doctor)', function (obj) {
                if (obj.event === 'detail') {
                    layer.open(
                        {
                            title: '医生详细信息',
                            type: '1',
                            content: ''
                        }
                    );
                } else if (obj.event === 'edit') {

                } else if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        layer.close(index);
                    });
                }
            })
        });

        function doctor_add() {
            window.location.href = '{{ url_for('user.doctor_add',username=username) }}';
        }
    </script>
{% endblock %}